.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
};

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: calc(100vw - 224px);
};

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  
  width: 800px;
  height: 445px;
}
